/* You can add global styles to this file, and also import other style files */
:root {
    --background-color-light: #f0f0f0;
    --text-color-light: #333;
    --background-color-dark: #333;
    --text-color-dark: #fff;
  }

  body {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
  }