/* You can add global styles to this file, and also import other style files */
html, body{
    margin: 0px;
    width: 100%;
    height: 100vh;
    background-color: #252529;
}
@font-face {
    font-family: bloody;
    src: url(assets/fonts/ghost-smoke-font/GhostSmoke-drOOl.ttf) format("opentype");
  }

.boiling-effect{
    --boiling-color: black;
    transition: all 2.3s ease; /* Smooth transition for text color */      
    &:hover {
        --boiling-color: chocolate;
        color: var(--boiling-color);
        filter:brightness(1);                                                                                       
    }
    // font-family: 'bloody', Courier, monospace;
}

.boiled{
    --boiling-color: chocolate;
    transition: all 3.3s ease; /* Smooth transition for text color */
    color: var(--boiling-color);
    filter:brightness(1);
}