<app-guiding-torch></app-guiding-torch>
<app-progress-light></app-progress-light>
<app-boiling-effect>
    <video #videoPlayer (mouseenter)="onHover()" (mouseleave)="onLeave()" class="light-source" loop
        onloadedmetadata="this.muted=true" preload="auto">
        <source src="/assets/gifs/fire.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
</app-boiling-effect>

<app-boiling-effect>
    <section class="">
        <p class="boiling-effect title-style" [ngClass]="{'boiled': boiled}"> Find your Way IN</p>
        <app-sign-up-forms></app-sign-up-forms>
    </section>
</app-boiling-effect>